.footer {
    position: relative; 
    
    background-color: #f7f7f7; 
    
    /* background-color: #00a89c; */

    width: 100%;
    padding: 30px 0; 
    text-align: center;
    
    color: #444; 
    font-size: 0.9rem; 
    
    border-top: 1px solid #eee;
}

.footer p {
    margin: 0; 
    font-family: 'Nunito', sans-serif; 
}