body {
    /* background-color: #00ccbc; */
    padding-left: 50px;
    padding-right:50px;


}

.header{
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-right: 17px;

}

.logo {
    max-width: 30%;
}

.logo img {
    height: 40px;        
    width: auto;
    margin: 0;           
    padding: 0;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  
  /* background-color: white; */
  background: linear-gradient(135deg, #e0f7f6, #ffffff);

  font-family: 'Nunito', sans-serif;
  color: #292a2a;
  font-size: larger;

  padding: 10px 20px;         
  height: auto;             
}




.nav-left{
    flex: 1; 
    padding-top: 0px;
    margin-top: 0px;
    padding: 50px;
}

.nav-right {
    flex: 2; 
    padding-top: 0;
    margin-top: 0;
}

.nav-btn{
    background-color: #00ccbc;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: larger;
}

.login-btn{
    background-color: white;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: larger;
    border: none;
    outline: none;
}

.taskManager {
    margin: 0;
    padding: 0;
    max-width: 80%;
    height: 60%;
    align-self: center;

    margin-left: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0.3rem;  
    margin-bottom: 1rem;  
}

span{
    font-size: 1.3rem;
}

.nav-detail{
    padding-left: 40px;
    margin-left: 40px;
}


